/**
 * Generate a helper
 */
@mixin generate-helper($properties, $subProperties) {
  @each $l in $properties {
    @each $sl in $subProperties {
      $selector: '';
      $property: '';

      @if  $sl == '' {
        $selector: '.h-#{$l}';
        $property: '#{$l}';
      } @else {
        $selector: '.h-#{$l}-#{$sl}';
        $property: '#{$l}-#{$sl}';
      }

      $style: $sl;

      @content($selector, $property, $style);
    }
  }
}
