@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
}

@mixin text-overflow-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin link-hover-underline() {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
