{
  "presets": [
    ["@babel/env",
      {
        "targets": {
          "browsers": [
            "Explorer 11"
          ]
        },
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": ["inline-react-svg", "@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-export-namespace-from", "@babel/plugin-proposal-export-default-from"]
}
