html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@mixin default-font-styles {
    color: $neutral-dark;
    font-weight: $typo-weight-roman;
    font-size: $typo-size-base;
    font-family: $typo-stack-base;
    line-height: $typo-line-height-base;
}

body {
    @include default-font-styles;

    @media (min-device-pixel-ratio: 1.25), (resolution >= 120dpi) {
        @include applyFontSmoothing;
    }
}

.visually-hidden {
    position: absolute !important;
    left: -999px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px); width: 1px;
    height: 1px
}
