html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $typo-stack-base;
    line-height: $typo-line-height-base;
    color: $color-text-base;
}