html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $typo-stack-base;
    line-height: $typo-line-height-base;
    font-size: $typo-size-base;
    color: $neutral-dark;
}

$box-shadow: 0 0 6px 0 rgba(230,234,237,0.29);
