.gui-color-overdue {
  color: $color-text-danger;

  a {
    color: inherit;
  }

  .gui-icon path, &:hover .gui-icon path {
    fill: $color-text-danger;
  }

  .gui-is-active & {
    .gui-icon path {
      fill: $color-text-danger;
    }
  }
}

.gui-color-neutral-base {
  color: $neutral-base;
}

.gui-inherit-color-icon .gui-icon path {
  @apply fill-current;
}

.gui-inherit-color-link a {
  @apply text-current;
}