.color-overdue {
  color: $color-text-danger;

  a {
    color: inherit;
  }

  .icon path, &:hover .icon path {
    fill: $color-text-danger;
  }

  .is-active & {
    .icon path {
      fill: $color-text-danger;
    }
  }
}

.color-neutral-base {
  color: $neutral-base;
}

.inherit-color-icon .icon path {
  @apply fill-current;
}

.inherit-color-link a {
  @apply text-current;
}