.fill-primary-blue {
  path {
    fill: $primary-blue !important;
  }
}

.fill-primary-green {
  path {
    fill: $primary-green !important;
  }
}

.fill-white {
  path {
    fill: white !important;
  }
}