/* ==========================================================================
   Clearing
   ========================================================================== */

.h-button-clear {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  outline: inherit;
  font: inherit;
  cursor: pointer;
  appearance: none;
}
