.gui-is-interactive {
  cursor: pointer;
}

$props: ('pointer-events');
$subProps: (none, auto, all);

@include generate-helper($props, $subProps) using ($selector, $property, $style) {
  #{$selector} {
    pointer-events: $style;
  }
}
