.is-selected {
  border: 1px solid $primary-blue;
  box-shadow: inset 0 0 0 1px $primary-blue;
}

.is-hovered {
  border: 1px solid $primary-blue-lighter;
  box-shadow: inset 0 0 0 1px $primary-blue-lighter;
}
