@mixin text-overflow-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-ellipsis {
  @include text-overflow-ellipsis();
}

@mixin link-hover-underline() {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.black-text {
  color: black;
}

.neutral-base-text {
  color: $neutral-base;
}

.danger-text {
  color: $primary-red-darker;
}

.typo-size-xlarge {
  font-size: $typo-size-xlarge;
}
.typo-size-large {
  font-size: $typo-size-large;
}
.typo-size-lead {
  font-size: $typo-size-lead;
}
.typo-size-base {
  font-size: $typo-size-base;
}
.typo-size-slight {
  font-size: $typo-size-slight;
}
.typo-size-small {
  font-size: $typo-size-small;
}
.typo-size-micro {
  font-size: $typo-size-micro;
}
