.text-inherit {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.text-overflow-ellipsis {
  @include text-overflow-ellipsis;
}

.text-overflow-ellipsis-only {
  text-overflow: ellipsis;
}

.weight-bold {
  font-weight: $typo-weight-bold;
}

.weight-semi-bold {
  font-weight: $typo-weight-semi-bold;
}

.weight-roman {
  font-weight: $typo-weight-roman;
}

.primary-blue-text {
  color: $primary-blue;
}

.black-text {
  color: black;
}

.neutral-dark-text {
  color: $neutral-dark;
}

.neutral-base-text {
  color: $neutral-base;
}

.danger-text {
  color: $primary-red-darker;
}

.typo-size-xlarge {
  font-size: $typo-size-xlarge;
}

.typo-size-large {
  font-size: $typo-size-large;
}

.typo-size-lead {
  font-size: $typo-size-lead;
}

.typo-size-larger {
  font-size: $typo-size-larger;
}

.typo-size-base {
  font-size: $typo-size-base;
}

.typo-size-slight {
  font-size: $typo-size-slight;
}

.typo-size-small {
  font-size: $typo-size-small;
}

.typo-size-micro {
  font-size: $typo-size-micro;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

$props: ('text-decoration');
$subProps: (underline, none);

@include generate-helper($props, $subProps) using ($selector, $property, $style) {
  #{$selector} {
    text-decoration: $style;
  }
};

$props: ('text-decoration-hover');
$subProps: (underline, none);

@include generate-helper($props, $subProps) using ($selector, $property, $style) {
  #{$selector}:hover {
    text-decoration: $style;
  }
};
