/* ==========================================================================
   Timings
   ========================================================================== */
$animation-time-micro: .2s;
$animation-curve: cubic-bezier(0.68, -0.55, 0.265, 1.55);
