/* ==========================================================================
   Brand
   ========================================================================== */
$color-brand-green: #5FCF80;
$color-brand-blue: #3D8AEB;
$color-brand-purple: #965DE8;

/* ==========================================================================
   Text
   ========================================================================== */
$color-text-base: rgb(56, 64, 71);
$color-text-heading: #384047;
$color-text-danger: #FC5C54;

$color-text-light: #ccc;

/* ==========================================================================
   Links
   ========================================================================== */
$color-link-base: rgb(70, 142, 229);
$color-link-hover: rgb(61, 125, 204);
$color-link-quiet: #C8C8C8;

/* ==========================================================================
   Backgrounds
   ========================================================================== */
$color-background-light: rgb(241, 241, 241);
$color-background-blue: rgb(70, 142, 229);

/* ==========================================================================
   Tables
   ========================================================================== */
$color-table-heading--bg: #fbfbfb;
$color-table-item--selected: #E8FAFF;
$color-table-item--hover: #F1FCFF;

/* ==========================================================================
   Borders
   ========================================================================== */
$color-input-border: #eaeaea;