@import 'colours';

/* ==========================================================================
   Spacing
   ========================================================================== */
$layout-spacing-base: 20px;

/* ==========================================================================
   Shadows
   ========================================================================== */
$shadow-deep: 0 $layout-spacing-base/4 $layout-spacing-base/2 $neutral-light;
$shadow-shallow: 0px 0px 6px 0px transparentize($neutral-light, 0.7);
$shadow-base: 0 0 6px 0 rgba(230,234,237,0.29);

/* ==========================================================================
   Breakpoints
   ========================================================================== */
$screen-sm-min: 680px;
$screen-sm: 680px;

$screen-md-min: 900px;
$screen-md: 900px;

$screen-lg-min: 1200px;
$screen-lg: 1200px;
