@import 'colours';

/* ==========================================================================
   Spacing
   ========================================================================== */
$layout-spacing-base: 20px;

/* ==========================================================================
   Shadows
   ========================================================================== */
$shadow-base-offset: 0 2px 4px rgba($neutral-light, 0.7);
$shadow-deep: 0 $layout-spacing-base * 0.25 $layout-spacing-base * 0.5 $neutral-light;
$shadow-shallow: 0 0 6px 0 transparentize($neutral-light, 0.7);
$shadow-base: 0 0 6px 0 transparentize($neutral-light, 0.29);

/* ==========================================================================
   Bordered
   ========================================================================== */
$border-radius-base: 4px !default;

/* ==========================================================================
   Breakpoints
   ========================================================================== */
$screen-xs-min: 480px;
$screen-xs: 480px;
$screen-sm-min: 680px;
$screen-sm: 680px;
$screen-md-min: 900px;
$screen-md: 900px;
$screen-lg-min: 1200px;
$screen-lg: 1200px;
