/* ==========================================================================
   Stacks
   ========================================================================== */
$typo-stack-base: 'Whitney SSm A', 'Whitney SSm B', sans-serif;

/* ==========================================================================
   Sizes
   ========================================================================== */
$typo-size-large: 1.125rem;
$typo-size-lead: 1rem; //NAMEIO!
$typo-size-base: .875rem;
$typo-size-slight: .812rem;
$typo-size-small: .75rem; //BELOW INFO
$typo-size-micro: .625rem;

/* ==========================================================================
   Line Heights
   ========================================================================== */
$typo-line-height-base: 1.25rem;

/* ==========================================================================
   Weights
   ========================================================================== */
$typo-weight-roman: 400;
$typo-weight-semi-bold: 500;
$typo-weight-bold: 600;
