/* ==========================================================================
   Stacks
   ========================================================================== */
$typo-stack-base: 'Whitney SSm A', 'Whitney SSm B', sans-serif;

/* ==========================================================================
   Sizes
   ========================================================================== */
$typo-size-base: .875em;
$typo-size-base-px: 14px;

$typo-size-large: 1.714285714em;
$typo-size-large-px: 24px;

/* ==========================================================================
   Line Heights
   ========================================================================== */
$typo-line-height-base: 1.25em;
$typo-line-height-base-px: 17.5px;

/* ==========================================================================
   Weights
   ========================================================================== */
$typo-weight-semi-bold: 500;