/* ==========================================================================
   Stacks
   ========================================================================== */
$typo-stack-base: 'IBM Plex Sans', sans-serif !default;

/* ==========================================================================
   Sizes
   ========================================================================== */
$typo-size-xlarge: 1.5rem !default;
$typo-size-large: 1.25rem !default;
$typo-size-lead: 1.125rem !default;
$typo-size-larger: 1.125rem !default;
$typo-size-base: 1rem !default;
$typo-size-slight: .875rem !default;
$typo-size-small: .75rem !default;
$typo-size-micro: .6875rem !default;

/* ==========================================================================
   Line Heights
   ========================================================================== */
$typo-line-height-base: 1.25rem !default;
$typo-line-height-lead: 1.5rem !default;

/* ==========================================================================
   Weights
   ========================================================================== */
$typo-weight-roman: 400 !default;
$typo-weight-semi-bold: 500 !default;
$typo-weight-bold: 600 !default;
$icon-width: 16px !default;
$icon-height: 16px !default;
