$fontStack: 'Whitney SSm A', 'Whitney SSm B', sans-serif;

body {
  font-family: $fontStack;
}

.heading-one,
.heading-two,
.heading-three {
  font-weight: 500;
  color: #384047;
}

.description {
  color: #6f7c82;
  line-height: 1.5;
  font-size: 14px;
  max-width: 600px;
}
