.grid:not(.tw) {
    margin-left: -10px;
}

.grid {
    &:not(.tw)::before,
    &:not(.tw)::after {
        content: "";
        display: table;
    }

    &:not(.tw)::after {
        clear: both;
    }

    &__cell {
        float: left;
        box-sizing: border-box;
        padding: 0 0 0 10px;

        &--indent {
            padding: 0 50px;
        }

        &--bordered {
            border-right: 1px solid #e4e8ee;
        }

        &--collapse {
            padding: 0;
        }

        &--1-3 {
            width: 33.333333333%;
        }

        &--2-3 {
            width: (33.333333333 * 2) * 1%;
        }

        &--1-2 {
            width: 50%;
        }

        &--1-4 {
            width: 25%;
        }

        &--3-4 {
            width: 75%;
        }

        &--offset-1-4 {
            margin-left: 25%;
        }
    }

    &--collapse {
        margin-left: 0
    }
}
