.gui-grid:not(.gui-tw) {
    margin-left: -10px;
}

.gui-grid {
    &:not(.gui-tw)::before,
    &:not(.gui-tw)::after {
        display: table;
        content: "";
    }

    &:not(.gui-tw)::after {
        clear: both;
    }

    &__cell {
        float: left;
        padding: 0 0 0 10px;
        box-sizing: border-box;

        &--indent {
            padding: 0 50px;
        }

        &--bordered {
            border-right: 1px solid #e4e8ee;
        }

        &--collapse {
            padding: 0;
        }

        &--1-3 {
            width: 33.3333%;
        }

        &--2-3 {
            width: (33.3333 * 2) * 1%;
        }

        &--1-2 {
            width: 50%;
        }

        &--1-4 {
            width: 25%;
        }

        &--3-4 {
            width: 75%;
        }

        &--offset-1-4 {
            margin-left: 25%;
        }
    }

    &--collapse {
        margin-left: 0
    }
}
