.grid {
    margin-left: -10px;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    &__cell {
        float: left;
        padding: 0 0 0 10px;
        box-sizing: border-box;

        &--indent {
            padding: 0 50px;
        }

        &--bordered {
            border-right: 1px solid #e4e8ee;
        }

        &--collapse {
            padding: 0;
        }

        &--1-3 {
            width: 33.333333333%;
        }

        &--1-2 {
            width: 50%;
        }
    }

    &--collapse {
        margin-left: 0
    }
}
