/* ==========================================================================
   Styles
   ========================================================================== */
.o-media-obj {
	clear: both;
	overflow: hidden;
	margin: 0 0 $layout-spacing-base;
}

.o-media-obj--radio input {
	float: left;
	margin: 0 $layout-spacing-base 0 0;
}

.o-media-obj__info {
	float: left;
}

.o-media-obj__title,
.o-media-obj__subtitle {
	display: block;
}
