@import "../settings/colours";

#root {
  padding: 20px; // Give the playarea some room to breathe
}

.sg__base {
  display: flex;
  flex-flow: wrap;
}

.sg__colour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2em 20px 0;
  text-align: left;
  width: 10em;
}

.sg__colour-block {
  width: 100%;
  height: 5em;
  padding: 1em;
  background: rgb(255 100 125);
  border-radius: 3px;
  margin: 0 0 1em;
}

.sg__colour-var {
  border: 1px solid $neutral-light;
  padding: .25em .5em;
  white-space: nowrap;
  border-radius: 4px;
  margin: 0 0 1em;
  font-size: 80%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.sg__colour-value {
  white-space: nowrap;
  margin: 0;
  font-size: 90%;

  &--caps {
    text-transform: uppercase;
  }
}

.story-item {
  margin-bottom: 2em;
  margin-top: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid $neutral-light;
}
