input,
textarea,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'] {
    height: auto;
    font-size: $typo-size-base;
    outline: none;
}

input, textarea {
  &::placeholder {
    color: $neutral-base;
  }
}
