body {
    font-family: $typo-stack-base;
    line-height: $typo-line-height-base;
}

h1,
h2,
h3 {
    font-weight: $typo-weight-semi-bold;
    color: $color-text-base;
}

p {
    color: $color-text-heading;
    font-size: $typo-size-base;
}