.dropdown-menu {
  box-shadow: $shadow-deep;
}

.dropdown-menu > li > a {
  color: $color-text-base;
  font-weight: $typo-weight-semi-bold;
  padding: $layout-spacing-base/4 $layout-spacing-base/1.5;
}

.dropdown-menu .divider {
  margin: 3px 0;
  background-color: $color-background-light;
}
