.dropdown-menu {
  box-shadow: $shadow-base;
  border-color: $neutral-light;
}

.dropdown-menu > li > a {
  color: $dropdown-menu-font-color;
  padding: $dropdown-menu-link-padding;
  font-size: $dropdown-menu-font-size;
  font-weight: $dropdown-menu-font-weight;
}

.dropdown-menu .divider {
  margin: 3px 0;
  background-color: $color-background-light;
}

.dropdown-menu .disabled > * {
  opacity: .4;
}

.popover-dropdown {
  max-height: 100%;
  overflow-y: auto;
}

.popover-dropdown .popover-content {
  box-shadow: none;
  padding: 0;
}
.popover-dropdown .dropdown-menu {
  position: inherit;
  top: inherit;
  left: inherit;
  display: block;
  float: inherit;
  border: 0 none;
}
.popover-dropdown .dropdown__link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
