.dropdown-menu {
  box-shadow: $shadow-deep;
}

.dropdown-menu > li > a,
.dropdown-menu .dropdown__link,
.dropdown-menu .dropdown__item .dropdown__link{
  color: $color-text-base;
  padding: $layout-spacing-base/4 $layout-spacing-base/1.5;
  font-size: 13px;
  font-weight: $typo-weight-semi-bold;
}

.dropdown-menu .divider {
  margin: 3px 0;
  background-color: $color-background-light;
}

.dropdown-menu .disabled > * {
  opacity: .4;
}

.popover-dropdown .popover-content {
  box-shadow: none;
  padding: 0;
}
.popover-dropdown .dropdown-menu {
  position: inherit;
  top: inherit;
  left: inherit;
  display: block;
  float: inherit;
  border: 0 none;
}