.is-visible {
	opacity: 1;
}

.is-hidden {
	opacity: 0;
}

.no-wrap {
	white-space: nowrap !important;
}

.hide-small {
  @include respond-to-max($screen-sm) {
    display: none !important;
  }
}

.hide-medium {
  @include respond-to-max($screen-md) {
    display: none !important;
  }
}

.hide-off-page {
  position: absolute;
  left: -999em;
}
