.gui-is-visible {
	opacity: 1;
}

.gui-is-hidden {
	opacity: 0;
}

.gui-no-wrap {
	white-space: nowrap !important;
}

.gui-hide-small {
  @include respond-to-max($screen-sm) {
    display: none !important;
  }
}

.gui-hide-medium {
  @include respond-to-max($screen-md) {
    display: none !important;
  }
}

.gui-hide-large {
  @include respond-to-max($screen-lg) {
    display: none !important;
  }
}

.gui-hide-off-page {
  position: absolute;
  left: -999em;
}
