.modal {
    overflow: hidden;
}

.modal-body {
    padding: $modal-padding;
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    background-clip: padding-box;

    h4 {
        font-size: $modal-heading-font-size;
        margin-bottom: 0;
    }

  &.has-columns {
    padding: 0;
  }
}

.modal-header {
    padding: $modal-padding;
    display: flex;
    align-items: baseline;

  .close {
    order: 2;
    margin-left: auto;
  }
}

.modal-content {
    margin: 0;
    position: relative;
    border: 0;
}

.modal-footer {
  background: $color-background-light;
  border-radius: 0 0 6px 6px;
}

.modal-dialog {
    position: relative;
}

.modal-title {
    font-size: $modal-heading-font-size;
    font-weight: $typo-weight-semi-bold;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}
