.modal {
    overflow: hidden;
}

.modal--hide-close {
  .modal-header .close {
    display: none;
  }
}

.modal-body {
    padding: $modal-padding;
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    background-clip: padding-box;

    h4 {
        font-size: $modal-heading-font-size;
        margin-bottom: 0;
    }

  &.has-columns {
    padding: 0;
  }
}

.modal-header {
  position: relative;
  padding: 0;

  .close {
    position: absolute;
    right: $layout-spacing-base;
    top: $layout-spacing-base;
  }
}

.modal-header-inner {
  padding: $modal-padding $modal-padding*2 $modal-padding $modal-padding;
  display: inline-flex;
  align-items: baseline;
  flex-direction: column;
}

.modal-content {
    margin: 0;
    position: relative;
    border: 0;
}

.modal-footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background: white;
  border-radius: 0 0 6px 6px;
}

.modal-dialog {
  position: relative;
}

.modal-title {
    font-size: $modal-heading-font-size;
    font-weight: $typo-weight-semi-bold;

    img {
      position: relative;
      top: 2px;
      margin: 0 0 0 $layout-spacing-base*0.5;
      width: $typo-size-large;
    }
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
  transform: none;
}
