.gui-popover {
  font-family: $typo-stack-base;
  box-shadow: $shadow-base;
  border-color: $neutral-light;
  animation: dropdownAnimation 750ms;
  animation-fill-mode: forwards;

  .gui-arrow {
    visibility:hidden;
  }
}
