.popover {
  font-family: $typo-stack-base;
  box-shadow: $shadow-base;
  border-color: $neutral-light;
  animation: dropdownAnimation 750ms;
  animation-fill-mode: forwards;
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
      @include applyFontSmoothing();
  }
  .arrow {
    visibility:hidden;
  }
}
