.gui-tooltip {
    font-family: $typo-stack-base;
    animation: dropdownAnimation 750ms;
    animation-fill-mode: forwards;
}

.gui-tooltip-arrow {
  display: none;
}

.gui-tooltip--large {
    padding: .5em .25em;
    font-size: $typo-size-lead;
}

/* ==========================================================================
   <Figure />
   ========================================================================== */
.gui-figure > span {
  flex-grow: 1;
}

.gui-figure__tooltip.gui-tooltip {
  opacity: 1;
}

.gui-figure__tooltip--added .gui-tooltip-inner {
  background: $primary-green;
}

.gui-figure__tooltip--removed .gui-tooltip-inner {
  background: $primary-red;
}
